{
	"mode":"production",
	
	"secret":"changeme",
	
    "log_path":"/var/log/phaidra/PhaidraAPI.log",
    
    "log_level":"debug",
    
    "validate_uwmetadata":"1",
      
    "defaults": {
    
    	"metadata_field_language": "de"
    	        
	},
	
	"directory_class": "Phaidra::Directory::Univie",
	
	"directory": {	        
	
        "connect_string": "dbi:Oracle:DB",
        
        "username": "username",
        
        "password": "password",
        
        "org_units_languages": ["en","de"],
        
        "study_plans_languages": ["de"]
	}, 
    
    "phaidra": {
    
    	"baseurl": "phaidra-instance.univie.ac.at",
    	
    	"fedorabaseurl": "",
    	
    	"staticbaseurl": "",
    	
    	"fedorastylesheeturl": "",
    	
    	"proaiRepositoryIdentifier": "",
    	
    	"uwmetadatalabel": "Universitaet Wien Metadata",

		"getuwmetadataurl": "https://fedora.phaidra-instance.univie.ac.at/fedora/get/{PID}/bdef:Asset/getUWMETADATA",
    	
    	"username": "changeme",
    	
    	"password": "changeme"
    
    },              
    
    "phaidra_db": {
    
    	"dsn":"dbi:mysql:db_name:db_host",
    	
    	"username":"changeme",
    	
    	"password":"changeme"
    },
    
    "api_db": {
    
    	"dsn":"dbi:mysql:db_name:db_host",
    	
    	"username":"changeme",
    	
    	"password":"changeme"
    }     
}