.jumbotron-buttons {
	margin: 15px 0 15px 0;
}

.metadataeditor_full #control-panel {
	margin: 15px 0 15px 0;
}

.metadataeditor_full ul {
	list-style-type: none;
}

.metadataeditor_full h4 {
	margin-left: 5px;
}

.hero-unit h1 {
	font-size: 45px;	
}

.hero-unit {
	background: url("../img/ticks_light.png") repeat scroll 0 0 transparent;
	border-bottom: 1px solid #E5E5E5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.footer {
	background: url("../img/ticks_light.png") repeat scroll 0 0 transparent;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.well {
	background: url("../img/ticks_light.png") repeat scroll 0 0 transparent;
}

/* muss add, see: http://angular-ui.github.io/bootstrap/ */
.nav, .pagination, .carousel a { cursor: pointer; }


.footer {
    background-color: #F5F5F5;
    border-top: 1px solid #E5E5E5;
    margin-top: 70px;
    padding: 30px 0;
    text-align: center;
}

.icon-github {
    background: url("../img/github-16px.png") no-repeat scroll 0 0 transparent;
    height: 16px;
    width: 16px !important;
 	margin-top: -1px;
 	padding-right: 2px;
}

h2 {
    font-size: 140%;
    margin: 10px 0;
    font-weight: bold;
}



/* 
.input {
    margin: 10px;
}
.edit {
    font-weight: bold;
    color: green;
}
.delete {
    font-weight: bold;
    color: red;
}
label {
    width: 50%;
    text-align: right;
    display: inline-block;
}
input, select {

}
.radio fieldset label, .checkboxes fieldset label {
    display: block;
    text-align: left;
}
.radio fieldset label input, .checkboxes fieldset label input {
    margin-right: 5px;
}
h3 {
    border-top: 2px solid #ccc;
    margin-top: 20px;
    padding-top: 5px;
}
.required label:after {
    color: #e32;
    content: '*';
    display:inline;
}
.order {
    color: #ccc;
}
fieldset {
    border: 1px solid #eee;
    margin: 10px;
    padding: 0 10px;
}
fieldset legend {
    margin: 10px;
}
fieldset label {
    width: auto;
}
fieldset div {
    margin: 10px 0;
}
strong {
    font-weight: bold; 
}



.metadataeditor_full select {
    min-width: 315px;
}

.metadataeditor_full input.ng-invalid.ng-dirty {
    background-color: #FA787E;
}
    
.metadataeditor_full input.ng-valid.ng-dirty {
    background-color: #78FA89;
}

.metadataeditor_full textarea.ng-invalid.ng-dirty {
    background-color: #FA787E;
}
    
.metadataeditor_full textarea.ng-valid.ng-dirty {
    background-color: #78FA89;
}

.metadataeditor_full .form-li {
    line-height: 45px;
}

.metadataeditor_full .span4 {
    width: 90%;
}


.metadataeditor_full .float-right {
    float: right;
}

.metadataeditor_full label {
    width: 15%;
    margin-right: 15px;
}

.metadataeditor_full .required-error {
    margin-left: 5px;
}

*/

.metadataeditor_full .tab-content {
	margin: 20px 0 0 0;
}
	
.metadataeditor_full #pid {
	width: 100px;
	min-width: 100px;
}

.metadataeditor_full input[type='text'],textarea {
	min-width: 300px;
}
/*
.metadataeditor_full input[type='text'],textarea {
	max-width: 50%;
}

.metadataeditor_full select {
	max-width: 50%;
}
*/
.metadataeditor_full .input-group {
	max-width: 50%;
}

/*
.metadataeditor_full .input-group .form-control:last-child {
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}

.metadataeditor_full .input-group .form-control:first-child {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
*/

.phaidra-title {
	color: #B80007;
	font-weight: bold;
}

.load-pid {
	width: 120px;
	padding: 0;
}

