
/* The fixed navbar will overlay your other content, unless you add padding to the bottom of the <body>.  */
body { padding-top: 70px; }

#portal
{
	font-size: 1.3em;
	
}

#portal table {
	margin-left: 15px;
}

#portal a
{
	text-decoration: none;
	color: #990000;
}
#portal a:hover
{
	color:#ff7b00;
}
#portal tr
{
	vertical-align:top;
	height: 120px;
}

#portal .partner-logo {
	padding: 30px 0px 0px 0px;
}

#portal .partner-table {
	padding: 40px 0px 0px 0px;
	margin-left: 0px;
}

#portal .phaidra-org-img {
	border: solid 1px #aaaaaa;
	margin: 0px 0 0 10px;
}

#portal td
{
	padding-left: 6px;
	font-size: 0.9em;
}

#portal .one, .two, .three
{
		color:#ffffff;
		text-align: right;
		width:160px; height:20px;
		padding: 1px 5px 0px 5px;
margin-top: 5px;
	
}
#portal .one
{
		background-color:#006699;

}
#portal .two
{
		background-color:#990000;
}
#portal .three
{
	background-color:#eb690b;
		
}
#portal .portal-text {
	padding: 6px 0 0 17px;
}

.signin-btn {
	margin-right:20px;
}
