.jumbotron-buttons {
	margin: 15px 0 15px 0;
}

.uwmetadataeditor_full #control-panel {
	margin: 15px 0 15px 0;
}

.uwmetadataeditor_full ul {
	list-style-type: none;
}

.uwmetadataeditor_full h4 {
	margin-left: 5px;
}


h2 {
    font-size: 140%;
    margin: 10px 0;
    font-weight: bold;
}



/* 
.input {
    margin: 10px;
}
.edit {
    font-weight: bold;
    color: green;
}
.delete {
    font-weight: bold;
    color: red;
}
label {
    width: 50%;
    text-align: right;
    display: inline-block;
}
input, select {

}
.radio fieldset label, .checkboxes fieldset label {
    display: block;
    text-align: left;
}
.radio fieldset label input, .checkboxes fieldset label input {
    margin-right: 5px;
}
h3 {
    border-top: 2px solid #ccc;
    margin-top: 20px;
    padding-top: 5px;
}
.required label:after {
    color: #e32;
    content: '*';
    display:inline;
}
.order {
    color: #ccc;
}
fieldset {
    border: 1px solid #eee;
    margin: 10px;
    padding: 0 10px;
}
fieldset legend {
    margin: 10px;
}
fieldset label {
    width: auto;
}
fieldset div {
    margin: 10px 0;
}
strong {
    font-weight: bold; 
}



.uwmetadataeditor_full select {
    min-width: 315px;
}

.uwmetadataeditor_full input.ng-invalid.ng-dirty {
    background-color: #FA787E;
}
    
.uwmetadataeditor_full input.ng-valid.ng-dirty {
    background-color: #78FA89;
}

.uwmetadataeditor_full textarea.ng-invalid.ng-dirty {
    background-color: #FA787E;
}
    
.uwmetadataeditor_full textarea.ng-valid.ng-dirty {
    background-color: #78FA89;
}

.uwmetadataeditor_full .form-li {
    line-height: 45px;
}

.uwmetadataeditor_full .span4 {
    width: 90%;
}


.uwmetadataeditor_full .float-right {
    float: right;
}

.uwmetadataeditor_full label {
    width: 15%;
    margin-right: 15px;
}

.uwmetadataeditor_full .required-error {
    margin-left: 5px;
}

*/

.uwmetadataeditor_full .tab-content {
	margin: 20px 0 0 0;
}
	
.uwmetadataeditor_full #pid {
	width: 100px;
	min-width: 100px;
}

.uwmetadataeditor_full input[type='text'],textarea {
	min-width: 300px;
}
/*
.uwmetadataeditor_full input[type='text'],textarea {
	max-width: 50%;
}

.uwmetadataeditor_full select {
	max-width: 50%;
}
*/


/*
.uwmetadataeditor_full .input-group .form-control:last-child {
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}

.uwmetadataeditor_full .input-group .form-control:first-child {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
*/

.phaidra-title {
	color: #B80007;
	font-weight: bold;
}

.load-pid {
	width: 120px;
	padding: 0;
}

#pid.ng-invalid.ng-dirty {
    background-color: #FA787E;
}

/* makes the dropdown use scroll 
.dropdown-menu {
    max-height: 200px;
    overflow: auto;
    left: 38px;
    
}
*/
.max-width-20 {
	max-width: 20%;
}
.min-width-80 {
	max-width: 80%;
}

/* .input-group-addon, .input-group-btn {width:auto;} */



.input-text-lang .input-group {
	min-width: 60%;
	max-width: 70%;
}

.input-text-lang .input-group input {
	max-width: 80%;
}

.input-text-lang .input-group select {
	max-width: 20%;
	margin-left: -1px;
	margin-right: 1px;
}

.input-text-lang-multi .input-group {
	min-width: 60%;
	max-width: 70%;
}

.input-text-lang-multi .input-group input {
	max-width: 80%;
}

.input-text-lang-multi .input-group select {
	max-width: 20%;
	margin-left: -1px;
	margin-right: 1px;
}

.input-text .input-group {
	min-width: 60%;
	max-width: 70%;
}

.input-text .input-group input {
	max-width: 80%;
}

.input-text-multi .input-group {
	min-width: 60%;
	max-width: 70%;
}

.input-text-multi .input-group input {
	max-width: 100%;
}


.input-select .input-group {
	min-width: 40%;
	max-width: 51%;
}

.input-select .input-group select {
	max-width: 100%;
	margin-left: -1px;
	margin-right: 1px;
}

.input-select-multi .input-group {
	min-width: 40%;
	max-width: 51%;
}

.input-select-multi .input-group select {
	max-width: 100%;
	margin-left: -1px;
	margin-right: 1px;
}

.input-textarea .input-group {
	min-width: 60%;
	max-width: 70%;
}

.input-textarea .input-group textarea {
	max-width: 100%;
	margin-left: -1px;
	margin-right: 1px;
}

.input-textarea-multi .input-group {
	min-width: 60%;
	max-width: 70%;
}

.input-textarea-multi .input-group textarea {
	max-width: 100%;
	margin-left: -1px;
	margin-right: 1px;
}

.input-textarea-lang .input-group {
	min-width: 60%;
	max-width: 70%;
}

.input-textarea-lang .input-group textarea {
	max-width: 100%;
	margin-left: -1px;
	margin-right: 1px;
}

.input-textarea-lang-multi .input-group {
	min-width: 60%;
	max-width: 70%;
}

.input-textarea-lang-multi textarea {
	/*max-width: 50%;*/
	height: 100px;
}

.input-textarea-lang-multi .input-group select {
	/*height: 54px;
	max-width: 20%;
	*/
	margin-left: -1px;
	margin-right: 1px;
}

.input-datetime {
	min-width: 60%;
	
	/* do not specify max-width, shifts the row to left */
}

.input-datetime .input-group {
	max-width: 70%;
}

.input-datetime .input-group input {
	max-width: 100%;
	margin-left: -1px;
	margin-right: 1px;

/* 
disable rounding of corners, 
it does not work for non-multi datetime
*/	
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.input-datetime-multi .input-group {
	min-width: 60%;
	/* do not specify max-width, shifts the row to left */
}

.input-datetime-multi .input-group input {
	max-width: 100%;
	margin-left: -1px;
	margin-right: 1px;
	
/* 
reenable disabled radius
*/	
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.label-tooltip {
	font-weight: normal;
}

.grey {
	color: #aaa;
}

 .duration  {
 	display: table;	
}

 .duration input {
	min-width: 50px !important;
	max-width: 50px !important;*/
}

.duration input.ng-invalid.ng-dirty {
    background-color: #FA787E;
}

.load-spinner {
	margin-top: -30px;
	margin-left: 10px;
}