
<div class="form-group" ng-class="{ 'has-error': child.mandatory && !child.ui_value }">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input phaidra-help phaidra-help-id="{{child.help_id}}" tooltip-placement="left" tooltip-popup-delay='1500' tooltip-html-unsafe='{{default_helptext}}' ng-model="child.ui_value" type="checkbox" ng-true-value="1" ng-false-value="0" ng-required="{{child.mandatory}}">{{child.labels.en}}
        </label>
      </div>
    </div>
  </div>
