<div class="form-group row input-textarea-lang" ng-class="{ 'has-error': child.mandatory && !child.ui_value, 'input-textarea-lang-multi': child.cardinality === '*' || child.cardinality > '1' }">
	
	<label class="control-label col-sm-2" for="{{child.field_id}}"><span class="grey" ng-show="child.ordered">{{child.data_order}}. </span>{{child.labels.en}}</label>
    
    <div class="col-sm-5">    
    	<textarea id="{{child.field_id}}" class="form-control" type="text" ng-model="child.ui_value" value="{{child.ui_value}}" ng-required="{{child.mandatory}}" phaidra-help phaidra-help-id="{{child.help_id}}" tooltip-placement="left" tooltip-popup-delay='1500' tooltip-html-unsafe='{{default_helptext}}'></textarea>
    </div>
    <div class="col-sm-3">
    	<div class="input-group">
    		
	    	<select class="form-control" ng-model="child.value_lang" ng-options="k as v.en for (k,v) in languages" placeholder="in language">
				<option value="">Not applicable</option>
			</select>

	    	<div class="input-group-btn" ng-if="child.cardinality === '*' || child.cardinality > '1'">
	    		<button class="btn btn-default" ng-click="addNewElement(child)"><span class="glyphicon glyphicon-plus"></span></button>
	    		<button ng-if="(child.cardinality === '*' || child.cardinality > '1') && canDelete(child)" class="btn btn-default" ng-click="deleteElement(child)"><span class="glyphicon glyphicon-minus"></span></button>
	   			<button class="btn btn-default" ng-click="upElement(child)" ng-if="child.ordered == 1 && canUpElement(child)"><span class="glyphicon glyphicon-chevron-up"></span></button>
				<button class="btn btn-default" ng-click="downElement(child)" ng-if="child.ordered == 1 && canDownElement(child)"><span class="glyphicon glyphicon-chevron-down"></span></button>	    		    		
	    	</div>
	    	
	    </div>  
	    
    </div>
    <div class="col-sm-2">    
    	
    </div>        
    
</div>
