
<!-- 
<div class="form-group input-group">
    <h4>{{child.labels.en}}</h4>
    
    <hr/>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Panel title</h3>
    <span class="input-group-btn">    
	    <button ng-if="child.cardinality === '*' || child.cardinality > '1'" class="btn btn-default" ng-click="addNewElement(child)"><span class="glyphicon glyphicon-plus"></span></button>
	    <button ng-if="(child.cardinality === '*' || child.cardinality > '1') && canDelete(child)" class="btn btn-default" ng-click="deleteElement(child)"><span class="glyphicon glyphicon-minus"></span></button>
    </span>
  </div>
  <div class="panel-body">
    Panel content
  </div>
</div>
 -->