<div class="form-group" ng-class="{ 'has-error': child.mandatory && !child.ui_value }">
	<label class="col-sm-2 control-label" >{{child.labels.en}}</label>
    <div class="col-sm-10 input-group">
    	<select class="form-control" ng-model="child.ui_value" ng-options="option.uri as option.en for option in child.vocabularies.0.terms" ng-required="{{child.mandatory}}" placeholder="-- please choose --">
        	<option value="">-- please choose --</option>
        </select>
        <span class="input-group-btn" ng-if="child.cardinality === '*' || child.cardinality > '1'">
        	<button class="btn btn-default" ng-click="addNewElement(child)"><span class="glyphicon glyphicon-plus"></span></button>
        	<button ng-if="(child.cardinality === '*' || child.cardinality > '1') && canDelete(child)" class="btn btn-default" ng-click="deleteElement(child)"><span class="glyphicon glyphicon-minus"></span></button>
        </span>
    </div>        
</div>
