<div class="field row">
    
    <div class="span4">
    	<label class="form-field-label" for="{{child.field_id}}">{{child.labels.en}}</label>
        <select id="{{child.field_id}}" ng-model="child.ui_value" ng-options="option.uri as option.en for option in child.vocabularies.0.terms" ng-required="{{child.mandatory}}">
        	<option value="">-- please choose --</option>
        </select>

        <span class="required-error" ng-show="child.mandatory && !child.ui_value">* required</span>
    </div>
</div>
<br>